{% extends 'base.html' %}

{% block content %}

<p>
Welcome to {{ username }}'s profile.
</p>

<!-- TODO: Display the user's actual favorites here -->

<p>
  {{ username }}'s favorite books are:

  <ol>
      {% for book in profile.favorite_books %}
          <li>
              <p>{{ book.title }}</p>
              <p>Author: {{ book.author.name }}</p>
              <p>Published: {{ book.publish_date }}</p>
              <p>Genres:</p><br>
              {% for genre in book.genres %}
                  <p>{{ genre.name }},</p><br>
              {% endfor %}

          </li>
      {% endfor %}
  </ol>
</p>

{% endblock %}